@import "../css/var.css";

.about_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  background-color: var(--background-light);
  background-color: #edf3f8;
  min-width: 1440px;
  max-width: 1440px;
  margin: 0;
}

/* ============= HEAD =============== */

.header-circle {
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #d9dee6;
  top: -527px;
  left: 800px;
  z-index: -1;
}

/* ============= TRUST SIGNALS =============== */
.team-photo {
  margin: 0;
  padding: 0;
  height: 0px;
}
.team-photo img {
  display: block;
  margin-inline: -165px;
  margin-bottom: 72px;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.stat {
  flex: 1;
  border-top: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  margin: 0;
}

.body2 {
  font-family: var(--font-family-body);
  color: var(--sec-san-juan-blue);
  /* font-size: var(--text-body2-size); */
  font-size: 15px;
  opacity: var(--text-body2-opacity);
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 200;
  text-align:left;
}

.h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  margin: 0;
  display: flex;
  align-items: center;
  height: 77px;
  border-bottom: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
}

.stat .h1-sm {
  color: var(--prime-dark-pink);
}

.stats {
  margin-bottom: 70px;
}
