@import "../css/var.css";

.about_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  background-color: var(--background-light);
  background-color: #edf3f8;
  min-width: 1440px;
  max-width: 1440px;
  margin: 0;
}

/* ============= HEAD =============== */

.header-circle {
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #d9dee6;
  top: -527px;
  left: 800px;
  z-index: -1;
}

/* ============= FIRST PARAGRAPH =============== */

.h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  color: var(--sec-san-juan-blue);
  margin: 0;
  display: flex;
  flex-basis: 730px;
  width: 58.559%;
  align-items: center;
  margin: 90px 0 65px 95px; /*does not match adobe, but match design spacing*/
}
.container_about-us {
  margin-bottom: 44px; /*additional margin on top of body for picture aligment*/
}
.container_about-us-article {
  display: flex;
}
.h3-lg {
  font-size: var(--text-h3-lg-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h3-lg-line);
  letter-spacing: var(--text-h3-lg-letter-spacing);
  color: var(--sec-san-juan-blue);
  width: 22.974%;
  margin: 8px 30px 0 95px;
}
.container_about-us-article .body {
  width: 57.21%;
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line);
  margin: 0 0 56px 0; /*does not match adobe, but match design spacing*/
  font-weight: 100;
}


/* ============= TRUST SIGNALS =============== */
.team-photo {
  margin: 0;
  padding: 0;
  height: 0px;
}
.team-photo img {
  display: block;
  margin-inline: -165px;
  margin-bottom: 72px;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.stat {
  flex: 1;
  border-top: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  margin: 0;
}

.body2 {
  font-family: var(--font-family-body);
  color: var(--sec-san-juan-blue);
  /* font-size: var(--text-body2-size); */
  font-size: 15px;
  opacity: var(--text-body2-opacity);
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 200;
  text-align: left;
}

.stat > h1 {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  margin: 0;
  display: flex;
  align-items: center;
  height: 77px;
  border-bottom: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  color: var(--prime-dark-pink);
}

.stats {
  margin-bottom: 70px;
}
