@import "../css/var.css";

.about_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about_wrapper {
    padding-inline: 97px;
  }
}
@media (max-width: 767px) {
  .about_wrapper {
    padding-inline: 24px;
  }
}
/* ============= HEAD =============== */

.header-circle {
  pointer-events: none;
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  top: -527px;
  left: 800px;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header-circle {
    width: 780px;
    height: 780px;
    top: -464px;
    left: 505px;
  }
}
@media (max-width: 767px) {
  .header-circle {
    top: -605px;
    left: 84px;
    width: 785px;
    height: 745px;
  }
}
/* ============= FIRST PARAGRAPH =============== */

main > .h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  color: var(--sec-san-juan-blue);
  margin: 0;
  display: flex;
  flex-basis: 730px;
  width: 58.559%;
  align-items: center;
  margin: 90px 0 61px 95px; /*does not match adobe, but match design spacing*/
}
.container_about-us {
  margin-bottom: 45px; /*additional margin on top of body for picture aligment*/
}
.container_about-us-article {
  display: flex;
}
.h3-lg {
  font-size: var(--text-h3-lg-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h3-lg-line);
  letter-spacing: var(--text-h3-lg-letter-spacing);
  color: var(--sec-san-juan-blue);
  width: 22.974%;
  margin: 12px 30px 0 95px;
}
.container_about-us-article .body {
  width: 57.21%;
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line);
  margin: 0 0 56px 0; /*does not match adobe, but match design spacing*/
  font-weight: 100;
}

/* ==== FIRST PARAGRAPH MEDIA ==== */

/* TABLET */

@media (min-width: 768px) and (max-width: 1439px) {
  .about-us {
    margin-inline: -59px;
  }
  main > .h1-sm {
    text-align: center;
    margin: 87px auto 48px;
    width: 99.2%;
    max-width: 600px;
    font-size: var(--text-h2-size);
    letter-spacing: var(--text-h2-letter-spacing);
    line-height: var(--text-h2-line);
  }
  .h3-lg {
    width: 50%;
    margin: 14px 0 0;
  }
  .container_about-us-article .body {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 63px;
    letter-spacing: var(--text-body-letter-spacing);
    transform: translate(2px, 0px);
  }
  .container_about-us-article:nth-child(2) {
    margin-bottom: -12px;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .about-us {
    text-align: center;
  }
  .container_about-us {
    margin-bottom: 17px;
  }
  main > .h1-sm {
    text-align: center;
    width: 90%;
    margin: 50px auto;
    max-width: 450px;
    font-size: var(--text-h3-lg-size);
    letter-spacing: var(--text-h3-lg-letter-spacing);
    line-height: 36px;
  }
  .container_about-us-article {
    flex-direction: column;
    align-items: center;
  }
  .h3-lg {
    width: 100%;
    margin: 0 auto;
    font-size: var(--text-h4-size);
    letter-spacing: var(--text-h4-letter-spacing);
    line-height: var(--text-h4-line);
  }
  .container_about-us-article .body {
    width: 100%;
    max-width: 630px;
    margin: 5px auto 60px;
    letter-spacing: var(--text-body-letter-spacing);
    transform: translate(2px, 0px);
  }
}

/* ============= TRUST SIGNALS =============== */
.team-photo {
  margin: 0;
  padding: 0;
  height: 0px;
}
.team-photo img {
  display: block;
  margin-inline: -165px;
  margin-bottom: 72px;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.stat {
  flex: 1;
  border-top: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  margin: 0;
}

.body2 {
  font-family: var(--font-family-body);
  color: var(--sec-san-juan-blue);
  /* font-size: var(--text-body2-size); */
  font-size: 15px;
  opacity: var(--text-body2-opacity);
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 200;
  text-align: left;
}

.stat > h1 {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  margin: auto;
  display: flex;
  align-items: center;
  height: 77px;
  border-bottom: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  color: var(--prime-dark-pink);
}

.stats {
  margin-bottom: 70px;
}

.trust-circle-wrapper {
  position: absolute;
  top: 620.5px;
  left: 0;

  width: 260px;
  height: 780px;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.trust-circle {
  width: 780px;
  height: 780px;

  transform: scaleX(-1);
  transform-origin: left top;

  position: relative;
  left: 259.5px;
}

.team-photo,
.stats {
  position: relative;
  z-index: 1;
}

/* ============= TRUST SIGNALS MEDIA =============== */
@media (max-width: 767px) {
  .team-photo img {
    margin-inline: -24px;
    margin-bottom: 48px;
  }
  .trust-circle {
    display: none;
  }
  .stats-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

    border-top: 1px solid
      color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
    border-bottom: 1px solid
      color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  }
  .stat {
    border: none;
  }
  .stat .h1-sm {
    display: block;
    text-align: center;
    border-bottom: none;
    height: auto;
    line-height: 72px;
  }
  .stat .body2:first-child {
    margin-top: 14px;
  }
  .stat .body2 {
    margin-bottom: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .team-photo img {
    margin-inline: -97px;
    margin-bottom: 64px;
  }
  .stats-grid {
    gap: 10px;
  }
  .trust-circle {
    display: none;
  }
  .stats {
    margin-inline: -57px;
    margin-bottom: 60px;
  }
}
/* ============= SECOND PARAGRAPH =============== */

.container_about-us-article-people {
  display: flex;
  margin-top: 28px;
}

.container_about-us-article-people .body {
  width: 57.21%;
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line);
  margin: 0 0 58px 0; /*does not match adobe, but match design spacing*/
  font-weight: 100;
}

/* ============= SECOND PARAGRAPH MEDIA =============== */
/* TABLET */

@media (min-width: 768px) and (max-width: 1439px) {
  .container_about-us-article-people {
    display: flex;
  }

  #about-us-culture-text {
    letter-spacing: -0.05px;
    /*font-size: 14px;*/
  }

  .container_about-us-article-people .body {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 63px;
    letter-spacing: var(--text-h3-sm-letter-spacing);
    transform: translate(2px, 0px);
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .container_about-us-article-people {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

#about-us-culture {
    margin-top: -12px;
  }

  #about-us-people {
    margin-top: 0.4px;
    /*margin-bottom: 3px;*/
  }

  .container_about-us-article-people .body {
    width: 100%;
    max-width: 630px;
    margin: 5px auto 36px;
    letter-spacing: var(--text-body-letter-spacing);
    transform: translate(2px, 0px);
  }
}