@import "../css/var.css";

.about_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  background-color: var(--background-light);
  background-color: #edf3f8;
  min-width: 1440px;
  max-width: 1440px;
  margin: 0;
}

/* ============= HEAD =============== */

.header-circle {
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #d9dee6;
  top: -527px;
  left: 800px;
  z-index: -1;
}

/* ============= TRUST SIGNALS =============== */

.team-photo {
  margin-inline: -165px;
  margin-bottom: 72px;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.stat {
  flex: 1;
  border-top: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  border-bottom: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  margin: 0 0 30px 0;
}
