@import "../css/var.css";

.contact_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow: hidden;
}
body {
  background-color: var(--background-light);
  background-color: #edf3f8;
  min-width: 1440px;
  max-width: 1440px;
  margin: 0;
}

/* =============HEAD=============== */

.header-circle {
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  top: -527px;
  left: 800px;
  z-index: -1;
}

/*============PAGE TITLE============*/

.contact_wrapper .h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  line-height: var(--text-h1-sm-line);
  font-weight: var(--font-weight-thin);
  color: var(--sec-san-juan-blue);
  display: flex;
  align-items: center;
  max-width: 730px;
  margin: 92px 0px 30px;
}

/*=============HELP REQUEST FORM=============*/
/*Containers*/
.submit_and_sponsors {
  display: flex;
}
.contact-form_container {
  margin-bottom: 96px;
  width: 445px;
}

/*Forms input and labels*/
.form-group input,
.form-group textarea {
  font-size: var(--text-body-size);
  font-family: var(--font-family-body);
  line-height: var(--text-body-size-small);
  font-weight: var(--font-weight-thin);
  color: var(--sec-san-juan-blue);
  background-color: var(--background-light);
  letter-spacing: var(--text-body-letter-spacing);
  border: none;
  border-bottom: 1px solid rgba(54, 83, 107, 0.5);
  outline: none;
  padding: 23px 0px 21px;
  resize: none;
  padding-left: 20px;
  width: 445px;
  height: 66px;
}
.form-group textarea {
  height: 113px;
  padding-top: 25px;
}

.form-group:nth-child(5) {
  height: 113px;
}
/*Placeholders and hovers*/
.form-group input::placeholder,
.form-group textarea::placeholder {
  opacity: 50%;
}
.form-group input:hover,
.form-group textarea:hover {
  border-bottom: 1px solid rgba(54, 83, 107, 1);
}

/*Checkbox*/
.checkbox-group {
  display: flex;
  align-items: center;
  margin: 23px 0px 24px 1px;
}
.checkbox-group input[type="checkbox"] {
  appearance: none;
  background-color: var(--sec-san-juan-blue);
  opacity: 25%;
  width: 24px;
  height: 24px;
  margin: 0;
}
.checkbox-background {
  background-color: #36536b25;
  width: 24px;
  height: 24px;
}
.checkbox-group input[type="checkbox"]:checked {
  appearance: revert;
  accent-color: var(--prime-dark-pink);
  opacity: 100%;
}
.checkbox-group label {
  font-size: var(--text-body-size);
  font-family: var(--font-family-body);
  line-height: var(--text-body-line-small);
  font-weight: var(--font-weight-thin);
  color: var(--sec-san-juan-blue);
  letter-spacing: -0.3px;
  margin-left: 25px;
}

/*Form button*/
.btn-submit {
  padding: 16px 49px 15px 51px;
  border-radius: var(--btn-radius);
  background-color: inherit;
  color: var(--sec-san-juan-blue);
  font-size: var(--text-body-size);
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
  border: 1px solid var(--sec-san-juan-blue);
  width: 152px;
  margin-left: 2px;
}
.btn-submit:hover {
  color: var(--prime-link-water-white);
  background-color: var(--sec-san-juan-blue);
}

/*============SPONSORS============*/

.container_sponsors {
  width: 541px;
  margin: 154px 0px 262px 124px;
}
.container_sponsors h4 {
  font-size: var(--text-h4-size);
  font-family: var(--font-family-headings);
  letter-spacing: var(--text-h4-letter-spacing);
  line-height: var(--text-h4-line);
  font-weight: var(--font-weight-thin);
  color: var(--sec-san-juan-blue);
  opacity: 75%;
  margin: 0 0 32px;
  width: 445px;
}

/*Grid*/
.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  width: 541px;
  height: 104px;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.sponsors-grid img:nth-child(1),
.sponsors-grid img:nth-child(4) {
  justify-self: start;
}
.sponsors-grid img:nth-child(2){
  margin-left: -9px;
}
.sponsors-grid img:nth-child(3),
.sponsors-grid img:nth-child(6) {
  justify-self: end;
}
.sponsors-grid img:nth-child(5){
  margin-left: -7px;
}
