@import "../css/var.css";

body {
  padding-inline: 165px;
  width: 1440px;
}

header {
  text-align: center;
}
.hero-section {
  display: flex;
  /* display: inline-block; */
  margin: 0;
}
.index-grid {
  display: flex;
  display: block;
  width: 37.917%;
  margin-top: 149px;
  margin-right: 208px; /*iki telefono yra 208, bet img turi padinga*/
}
.h1-lg {
  font-size: var(--text-h1-lg-size);
  line-height: var(--text-h1-lg-line);
  letter-spacing: var(--text-h1-lg-letter-spacing);
  color: var(--sec-san-juan-blue);
  height: 243px;
  margin: 0;
  display: flex;
  align-items: center;
}
.container_cta-index {
  margin-top: 24px;
}
.cta-footer-text {
  margin-bottom: 152px;
}
