@import "var.css";

.index_wrapper {
  position: relative;
  overflow-x: hidden;
  padding-inline: 165px;
}

/* =============HEAD=============== */

.header-circle {
  position: absolute;
  top: -172px;
  left: 800px;
  width: 780px;
  height: 780px;
  z-index: -1;
}

/* ============= HERO SECTION =============== */

.hero-section {
  display: flex;
  margin: 0;
}
.index-grid {
  display: flex;
  display: block;
  width: 49.19%;
  margin-top: 149px;
}
.h1-lg {
  font-size: var(--text-h1-lg-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weigth-normal);
  line-height: var(--text-h1-lg-line);
  letter-spacing: var(--text-h1-lg-letter-spacing);
  color: var(--sec-san-juan-blue);
  margin: 0;
  display: flex;
  align-items: center;
  height: 243px;
}
.container_cta-index {
  margin-top: 24px;
}
.cta-footer-text {
  color: var(--sec-light-san-juan-blue);
  font-family: var(--font-family-body);
  text-align: left;
  font-size: var(--text-body-size);
  letter-spacing: 0px;
  margin-bottom: 152px;
  margin-left: 27px;
  margin-top: 16px;
  width: 225px;
  line-height: 17px;
  letter-spacing: -0.05px;
}
.contact-link {
  color: var(--sec-light-san-juan-blue);
  font-family: var(--font-family-body);
  text-align: left;
  font-size: var(--text-body-size);
  letter-spacing: 0px;
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.container_phone-mockup {
  margin-top: 19px;
  margin-left: 160px;
  margin-inline-end: -8px;
}

/* ============= EASY TO IMPLEMENT =============== */

.container_implementation {
  display: flex;
  margin: 150px 0 0 0;
}
.implementation-content {
  margin-left: 125px;
}

.implementation-content h2 {
  font-size: var(--text-h2-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weigth-normal);
  color: var(--sec-san-juan-blue);
  line-height: var(--text-h2-line);
  letter-spacing: var(--text-h2-letter-spacing);
  flex-basis: 445px;
  width: 445px;
  margin: 12px 0 8px -105px;
  padding: 5px 0 5px 0;
}
.implementation-content .body {
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line);
  flex-basis: 445px;
  width: 445px;
  text-align: left;
  letter-spacing: -0.1px;
  margin: -3px 0 0 -105px;
}
.implementation-image {
  margin: -109px 0 0 -55px;
}

/* ============= SIMPLE UI & UX =============== */

.simple-UI {
  margin-inline-end: -165px;
  position: relative;
  overflow: visible;
}
.container_simple-UI {
  display: flex;
  margin: 140px 0 143px 0; /*in adobe total section calulation is incorrect. So adjusted to total height of circle*/
}
.simple-UI .container_simple-UI {
  padding-inline: 0;
}
.UI-content h2 {
  font-size: var(--text-h2-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weigth-normal);
  color: var(--sec-san-juan-blue);
  line-height: var(--text-h2-line);
  letter-spacing: var(--text-h2-letter-spacing);
  flex-basis: 445px;
  width: 445px;
  margin: 89px 0 3px 0;
  padding: 5px 0 5px 0;
}
.UI-content .body {
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line);
  flex-basis: 445px;
  width: 445px;
  margin: 0;
  text-align: left;
  letter-spacing: -0.1px;
}
.UI-image {
  margin-top: -154px;
  margin-bottom: -106px;
  margin-inline-start: 42px;
}

.simple-UI-circle {
  position: absolute;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  top: 37.5%;
  right: -390px;
  transform: translateY(-50%);
  z-index: -1;
}

/*==============BENEFITS SECTION==============*/
/*Containers*/
.features {
  padding: 0px;
  margin-bottom: 101px;
}
.container_features {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*Features items*/
.features-item {
  flex-basis: 352px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-item .icon-circle {
  width: 106px;
  height: 106px;
  background-color: var(--sec-san-juan-blue);
  border-radius: 50%;
  margin-bottom: 31px;
}
.features-item .icon-circle img {
  width: auto;
  height: auto;
}

/*Text*/
.features-item .h3-sm {
  font-family: var(--font-family-h3-sm);
  color: var(--sec-san-juan-blue);
  font-size: var(--text-h3-sm-size);
  line-height: var(--text-h3-sm-line);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--text-h3-sm-letter-spacing);
  margin-bottom: 16px;
  margin-top: 0px;
}
.features-item .body {
  font-family: var(--font-family-body);
  color: var(--sec-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line-small);
  font-weight: var(--font-weight-thin);
  letter-spacing: var(--text-body-letter-spacing);
  margin: 0;
  opacity: 70%;
}
/*.features-item:first-child {
  flex-basis: 352px;
}*/
/*for pixel perfect*/
.features-item:first-child .icon-circle {
  margin-right: 16px;
  margin-left: 0px;
}
