@import "var.css";

body {
  padding-inline: 165px;
  background-color: var(--background-light);
  background-color: #edf3f8;
  max-width: 1440px;
}

header {
  text-align: center;
}
.hero-section {
  display: flex;
  /* display: inline-block; */
  margin: 0;
}
.index-grid {
  display: flex;
  display: block;
  width: 37.917%;
  margin-top: 149px;
  margin-right: 208px; /*iki telefono yra 208, bet img turi padinga*/
}
.h1-lg {
  font-size: var(--text-h1-lg-size);
  line-height: var(--text-h1-lg-line);
  letter-spacing: var(--text-h1-lg-letter-spacing);
  color: var(--sec-san-juan-blue);
  height: 243px;
  margin: 0;
  display: flex;
  align-items: center;
}
.container_cta-index {
  margin-top: 24px;
}
.cta-footer-text {
  margin-bottom: 152px;
}

.container_header {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links a {
  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--sec-san-juan-blue);
  opacity: 0.7;
  text-decoration: none;
}
.nav-links a:not(:last-child) {
  margin-right: 40px;
}

.logo-wrapper {
  width: 200px;
  text-align: left;
}

header > img {
  position: absolute;
  top: -172px;
  left: 800px;
  width: 780px;
  height: 780px;
  z-index: -1;
}
