@import "var.css";

body {
  padding-inline: 165px;
  background-color: var(--background-light);
  background-color: black;
}

header {
  text-align: center;
}

.container_header,
.container_footer {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links a {
  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 0.7;
  text-decoration: none;
}

.nav-links a:not(:last-child) {
  margin-right: 40px;
}

.textColorSanJuanBlue a {
  color: var(--sec-san-juan-blue);
}

.textColorLinkWaterWhite a {
  color: var(--prime-link-water-white);
}

.logo-wrapper {
  width: 200px;
  text-align: left;
}

header > img {
  position: absolute;
  top: -172px;
  left: 800px;
  width: 780px;
  height: 780px;
  z-index: -1;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social div:not(:last-child) {
  margin-right: 24px;
}

.facebookLogo,
.twitterLogo,
.linkedinLogo,
.payapiLogo {
  display: inline-block;
  background-color: var(--prime-link-water-white);
}
.payapiLogo {
  mask: url(../assets/shared/desktop/logo.svg) no-repeat center;
  height: 38px;
  width: 135px;
}
.facebookLogo {
  mask: url(../assets/shared/desktop/facebook.svg) no-repeat center;
  height: 24px;
  width: 24px;
}
.twitterLogo {
  mask: url(../assets/shared/desktop/twitter.svg) no-repeat center;
  height: 20px;
  width: 24px;
}
.linkedinLogo {
  mask: url(../assets/shared/desktop/linkedin.svg) no-repeat center;
  height: 24px;
  width: 24px;
}
