@import "var.css";

body {
  padding-inline: 165px;
    background-color: var(--background-light);
  background-color: #edf3f8;
}

header {
  text-align: center;
}

.container_header {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links a {
  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--sec-san-juan-blue);
  opacity: 0.7;
  text-decoration: none;
}
.nav-links a:not(:last-child) {
  margin-right: 40px;
}

.logo-wrapper {
  width: 200px;
  text-align: left;
}

header > img {
  position: absolute;
  top: -172px;
  left: 800px;
  width: 780px;
  height: 780px;
  z-index: -1;
}
