@import "../css/var.css";

.pricing_wrapper {
  padding-inline: 165px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .pricing_wrapper {
    padding-inline: 97px;
  }
}
@media (max-width: 767px) {
  .pricing_wrapper {
    padding-inline: 24px 23px;
  }
}
/* ============= HEAD =============== */

.header-circle {
  pointer-events: none;
  position: absolute;
  width: 780px;
  height: 780px;
  top: -527px;
  left: 800px;
  z-index: -1;
}

/* ============= HEAD MEDIA =============== */

@media (min-width: 768px) and (max-width: 1439px) {
  .header-circle {
    width: 780px;
    height: 780px;
    top: -464px;
    left: 505px;
  }
}
@media (max-width: 767px) {
  .header-circle {
    top: -605px;
    left: 84px;
    width: 785px;
    height: 745px;
  }
}
/* ============= PRICING =============== */

.h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  color: var(--sec-san-juan-blue);
  margin: 0;
  display: flex;
  flex-basis: 546px;
  align-items: center;
  margin: 91px 0 70px 0;
}
.pricing_container {
  display: flex;
}
.pricing-card {
  flex-basis: 350px;
  width: 350px;
  margin: 0 30px 100px 0;
}
.pricing-card:last-child {
  margin-right: 0;
}
.h3-lg {
  font-size: var(--text-h3-lg-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-normal);
  line-height: var(--text-h3-lg-line);
  letter-spacing: var(--text-h3-lg-letter-spacing);
  color: var(--prime-dark-pink);
  margin: 0 0 4px 0;
  padding: 2px 0 2px 0;
}
.pricing-card .body {
  font-family: var(--font-family-body);
  color: var(--sec-light-san-juan-blue);
  font-size: var(--text-body-size);
  line-height: 26px;
  letter-spacing: -0.3px;
  margin: 0 0 28px 0;
}
.pricing .h1-sm {
  font-size: var(--text-h1-sm-size);
  font-family: var(--font-family-headings);
  line-height: var(--text-h1-sm-line);
  letter-spacing: var(--text-h1-sm-letter-spacing);
  color: var(--sec-san-juan-blue);
  margin: 0 0 4px 0;
  display: flex;
  flex-basis: 350px;
  align-items: center;
  padding: 10px 0 11px 0;
}
.pricing-card_features {
  border-top: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  border-bottom: 1px solid
    color-mix(in srgb, var(--background-dark-circle) 25%, transparent);
  margin: 0 0 24px 0;
}
ul {
  padding: 27px 0 13px 0;
  list-style: none;
}
.pricing-card_features li img {
  margin-right: 24px;
  width: 12px;
  height: 8px;
}
.active {
  font-size: var(--text-body2-size);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  color: var(--sec-san-juan-blue);
  padding: 0 0 17px 0;
}
.inactive {
  font-size: var(--text-body2-size);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  color: color-mix(in srgb, var(--background-dark-circle) 50%, transparent);
  padding: 0 0 17px 36px;
}
.btn-sec-dk {
  padding: 15px 25px 14px 26px;
  border-radius: var(--btn-radius);
  background-color: var(--background-light);
  color: var(--sec-san-juan-blue);
  font-size: var(--text-body-size);
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
  border: 1px solid var(--sec-san-juan-blue);
  min-width: 168px;
}
.btn-sec-dk:hover {
  background-color: var(--sec-san-juan-blue);
  color: var(--prime-link-water-white);
  font-weight: var(--font-weight-bold);
}

/* ==== PRICING MEDIA ==== */

/* TABLET */

@media (min-width: 768px) and (max-width: 1439px) {
  .pricing {
    margin-inline: -97px;
    padding-inline: 39px 40px;
  }
  .h1-sm {
    justify-content: center;
    font-size: var(--text-h2-size);
    margin: 90px 0 65px 0;
  }
  .pricing-card {
    margin: 0 auto 110px;
    align-items: center;
  }
  .pricing-card:first-child .h3-lg,
  .pricing-card:first-child .h1-sm {
    transform: translate(-3px, 0px);
  }
  .pricing-card:nth-child(3) .h3-lg,
  .pricing-card:nth-child(3) .h1-sm {
    transform: translate(3px, 0px);
  }
  .h3-lg {
    font-size: var(--text-h4-size);
    letter-spacing: var(--text-h4-letter-spacing);
    text-align: center;
    margin: 0 auto 15px;
  }
  .pricing-card .body {
    margin: 0 auto;
    text-align: center;
    width: 95%;
  }
  .pricing .h1-sm {
    font-size: var(--text-h2-size);
    margin: 27px auto 23px;
    padding: 0 auto;
  }
  .pricing-card_features {
    width: 95%;
    padding-left: 49px;
  }
  .pricing-card .btn-sec-dk {
    margin-left: 29px;
  }
  .pricing-card:nth-child(3) .btn-sec-dk {
    margin-left: 35px;
  }
  .container_cta {
    margin: 0 0 83px 0;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .h1-sm {
    justify-content: center;
    font-size: var(--text-h3-lg-size);
    margin: 53px 0 52px 0;
  }
  .pricing_container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .pricing-card {
    margin: 0 auto 101px;
    width: 100%;
  }
  .h3-lg {
    font-size: var(--text-h4-size);
    letter-spacing: var(--text-h4-letter-spacing);
    text-align: center;
    margin: 0 auto 4px;
  }
  .pricing-card .body {
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
  }
  .pricing .h1-sm {
    font-size: var(--text-h1-sm-size);
    margin: 28px auto 5px;
    padding: 0 auto;
  }
  .pricing-card_features {
    width: 94%;
    max-width: 350px;
    margin: 0 auto 24px;
    padding-left: 87px;
  }
  .pricing-card .btn-sec-dk {
    display: block;
    margin: 0 auto -45px;
  }
  .container_cta {
    margin: 30px 0 82px 0;
  }
}
