@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*----- GLOBAL STYLES -----*/

:root {
  /* COLORS */
  --prime-dark-pink: #ba4270;
  --prime-link-water-white: #fbfcfe;

  --sec-san-juan-blue: #36536b;
  --sec-mirage-blue: #1b262f;
  --sec-charm-pink-actives: #da6d97;
  --sec-light-san-juan-blue: #6c8294;

  --background-light: #edf3f8;
  --background-light-circle: #36536b40;
  --background-dark: #1b262f;
  --background-dark-circle: #36536b;

  /* FONT FAMILY */
  --font-family-headings: "DM Serif Display", serif;
  --font-family-h3-sm: "Public Sans", sans-serif;
  --font-family-body: "Public Sans", sans-serif;

  /* TYPOGRAPHY TOKENS */
  --text-h1-lg-size: 72px;
  --text-h1-lg-line: 1;
  --text-h1-lg-letter-spacing: -0.55px;

  --text-h1-sm-size: 56px;
  --text-h1-sm-line: 1;
  --text-h1-sm-letter-spacing: -0.43px;

  --text-h2-size: 48px;
  --text-h2-line: 1.17;
  --text-h2-letter-spacing: -0.37px;

  --text-h3-lg-size: 32px;
  --text-h3-lg-line: 1.25;
  --text-h3-lg-letter-spacing: -0.25px;

  --text-h3-sm-size: 18px;
  --text-h3-sm-line: 1.39;
  --text-h3-sm-letter-spacing: -0.14px;

  --text-h4-size: 24px;
  --text-h4-line: 1.33;
  --text-h4-letter-spacing: -0.18px;

  --text-body-size: 15px;
  --text-body-line: 1.87;

  --text-body2-size: 16px;
  --text-body2-opacity: 0.7;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* BUTTONS */

  --btn-radius: 24px;
  --btn-letter-spacing: -0.12px;
  --btn-font-family: "Public Sans", sans-serif;
  --btn-font-weight: 700;

  --prime-bg-normal: #ba4270;
  --prime-bg-hover: #da6d97;
  --prime-bg-disabled: #ba4270;
  --prime-font-color: #fbfcfe;
  --prime-width: 173px;
  --prime-height: 48px;
  --prime-opacity-disabled: 0.5;

  --sec-lt-bg-normal: #1b262f;
  --sec-lt-bg-hover: #fbfcfe;
  --sec-lt-bg-disabled: #1b262f;
  --sec-lt-font-normal: #fbfcfe;
  --sec-lt-font-hover: #1b262f;
  --sec-lt-font-disabled: #fbfcfe;
  --sec-lt-border: 1px solid #fbfcfe;
  --sec-lt-width: 129px;
  --sec-lt-height: 48px;

  --sec-dk-bg-normal: #fbfcfe;
  --sec-dk-bg-hover: #36536b;
  --sec-dk-bg-disabled: #fbfcfe;
  --sec-dk-border: 1px solid #36536b;
  --sec-dk-width: 152px;
  --sec-dk-height: 48px;

  /* CHECKBOX */

  --chbx-width: 24px;
  --chbx-height: 24px;
  --chbx-bg-normal: #36536b;
  --chbx-bg-active: #ba4270;
  --chbx-bg-disabled: #36536b;
  --chbx-opacity-normal: 0.25;
  --chbx-opacity-disabled: 0.05;

  /* MEDIA QUERIES */
  --mq-tab: (max-width: 1439px);
  --mq-mob: (max-width: 375px);
}

/*h1 {
    font-size: var(--text-h1-large-size);
}*/

/* Call to action: bendrybės ir tekstas */
.container_cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta h2 {
  letter-spacing: var(--text-h2-letter-spacing);
  font-size: var(--text-h2-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weigth-normal);
  line-height: var(--text-h2-line);
  color: var(--sec-san-juan-blue);
  text-align: left;
  margin: 0px;
}

/* Call to action: mygtukas*/
.cta-form {
  display: flex;
  border-radius: var(--btn-radius);
  overflow: hidden;
  border: none;
  width: 445px;
  background-color: var(--prime-link-water-white);
  box-shadow: 0 10px 25px -5px #36536b4d;
}
.cta-input {
  padding: 16px 0px 15px 27px;
  font-size: 17px;
  border: none;
  text-align: left;
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
  outline: none;
  color: var(--sec-san-juan-blue);
}
.cta-input::placeholder {
  opacity: var(--prime-opacity-disabled);
  color: var(--sec-light-san-juan-blue);
}

/* Call to action: "schedule a demo" mygtukas */
.btn-prime {
  padding: 16px 24.5px 15px 26.5px;
  border-radius: var(--btn-radius);
  background-color: var(--prime-dark-pink);
  color: var(--prime-link-water-white);
  border: none;
  font-size: 17px;
  flex: 1;
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
}
.btn-prime:hover {
  background-color: var(--sec-charm-pink-actives);
}
