@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*----- GLOBAL STYLES -----*/
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-light);
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  /* COLORS */
  --prime-dark-pink: #ba4270;
  --prime-link-water-white: #fbfcfe;

  --sec-san-juan-blue: #36536b;
  --sec-mirage-blue: #1b262f;
  --sec-charm-pink-actives: #da6d97;
  --sec-light-san-juan-blue: #6c8294;

  --background-light: #edf3f8;
  --background-light-circle: #36536b40;
  --background-dark: #1b262f;
  --background-dark-circle: #36536b;

  --error-alert-red: #ff0000;

  /* FONT FAMILY */
  --font-family-headings: "DM Serif Display", serif;
  --font-family-h3-sm: "Public Sans", sans-serif;
  --font-family-body: "Public Sans", sans-serif;

  /* TYPOGRAPHY TOKENS */
  --text-h1-lg-size: 72px;
  --text-h1-lg-line: 1;
  --text-h1-lg-letter-spacing: -0.55px;

  --text-h1-sm-size: 56px;
  --text-h1-sm-line: 1;
  --text-h1-sm-letter-spacing: -0.43px;

  --text-h2-size: 48px;
  --text-h2-line: 1.17;
  --text-h2-letter-spacing: -0.37px;

  --text-h3-lg-size: 32px;
  --text-h3-lg-line: 1.25;
  --text-h3-lg-letter-spacing: -0.25px;

  --text-h3-med-size: 36px;
  --text-h3-med-line: 1;
  --text-h3-med-letter-spacing: -0.28px;

  --text-h3-sm-size: 18px;
  --text-h3-sm-line: 1.39;
  --text-h3-sm-letter-spacing: -0.14px;

  --text-h4-size: 24px;
  --text-h4-line: 1.33;
  --text-h4-letter-spacing: -0.18px;

  --text-body-size: 15px;
  --text-body-line: 1.87;
  --text-body-line-small: 25px;
  --text-body-letter-spacing: -0.12px;

  --text-body2-size: 16px;
  --text-body2-opacity: 0.7;

  /* FONT WEIGHT */
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* BUTTONS */

  --btn-radius: 24px;
  --btn-letter-spacing: -0.12px;
  --btn-font-family: "Public Sans", sans-serif;
  --btn-font-weight: 700;

  --prime-bg-normal: #ba4270;
  --prime-bg-hover: #da6d97;
  --prime-bg-disabled: #ba4270;
  --prime-font-color: #fbfcfe;
  --prime-width: 173px;
  --prime-height: 48px;
  --prime-opacity-disabled: 0.5;

  --sec-lt-bg-normal: #1b262f;
  --sec-lt-bg-hover: #fbfcfe;
  --sec-lt-bg-disabled: #1b262f;
  --sec-lt-font-normal: #fbfcfe;
  --sec-lt-font-hover: #1b262f;
  --sec-lt-font-disabled: #fbfcfe;
  --sec-lt-border: 1px solid #fbfcfe;
  --sec-lt-width: 129px;
  --sec-lt-height: 48px;

  --sec-dk-bg-normal: #fbfcfe;
  --sec-dk-bg-hover: #36536b;
  --sec-dk-bg-disabled: #fbfcfe;
  --sec-dk-border: 1px solid #36536b;
  --sec-dk-width: 152px;
  --sec-dk-height: 48px;

  /* CHECKBOX */

  --chbx-width: 24px;
  --chbx-height: 24px;
  --chbx-bg-normal: #36536b;
  --chbx-bg-active: #ba4270;
  --chbx-bg-disabled: #36536b;
  --chbx-opacity-normal: 0.25;
  --chbx-opacity-disabled: 0.05;

  /* MEDIA QUERIES - Breakpoints */

  --bp-mobile: 375px;
  --bp-tablet: 768px;
  --bp-desktop: 1440px;
}

/* ============= HEAD =============== */

header {
  text-align: center;
}

.hamburgerMenuOpen,
.hamburgerMenuClosed {
  display: none;
  text-align: right;
  margin-bottom: 0px;
}
.hamburgerMenuClosed {
  padding-right: 0px;
}

.container_header {
  padding-top: 40px;
}
.nav-right > button.btn-prime {
  box-shadow: 10px 10px 25px #36536b40;
}

/* ============= HEAD MEDIA =============== */
@media (min-width: 768px) and (max-width: 1439px) {
  header {
    margin-inline: -57px;
  }
}
@media (max-width: 767px) {
  .hamburgerMenuClosed {
    display: inline-block;
  }
}
/* ============= HEAD & FOOTER =============== */

.container_header,
.container_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-header,
.nav-footer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  min-width: 200px;
  text-align: left;
  display: inline-block;
}
.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links ul,
.social ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links li > a {
  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 0.7;
  text-decoration: none;
}
.nav-links li:not(:last-child) {
  margin-right: 40px;
}
.nav-links a:hover {
  opacity: 1;
}

.logoColorLinkWaterWhite:focus-within {
  border: 2px solid white;
}

/* ============= HEAD & FOOTER MEDIA =============== */
@media (max-width: 767px) {
  .container_header {
    justify-content: space-between;
  }
  .container_footer {
    flex-direction: column;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-footer {
    flex-direction: column;
  }
  .nav-links li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .container_footer .logo-wrapper .payapiLogo {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /*==============FOR BURGER MENU==============*/
  .hamburgerMenuClosed {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    
  }
  .hamburgerMenuOpen {
    display: none;
    outline: none;
    border: none;
    background-color: transparent;
  }
  body.menu-active .hamburgerMenuClosed {
    display: none;
  }
  body.menu-active .hamburgerMenuOpen {
    display: block;
  }
  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    height: 100vh;
    width: 0;
    position: fixed;
    justify-content: flex-start;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden; 
    background-color: var(--sec-mirage-blue); 
    padding-top: 47px;
    transition: 0.3s; 
    flex-grow: 0;
  }
  .hamburgerMenuOpen {
    align-self: flex-end;
    padding-right: 26px;
    padding-bottom: 20px;
  }
  header .nav-left {
    border-top: 2px solid #fbfcfe15;
    padding-top: 42px;
  }
  header .nav-left {
    width: 249px;
    display: grid;
    place-items: center;
  }
  header .nav-left .nav-links ul > li {
    margin: 0px;
  }
  header .nav-links ul > li > a {
    display: block;
    margin-bottom: 32px;
    transition: 0.3s;
    font-size: 20px;
    color: var(--prime-link-water-white);
    font-weight: var(--font-weight-bold);
    opacity: 70%;
    line-height: 24px;
  }

  .nav-right button {
    width: 252px;
    padding: 16px 36px 15px 38px;
    margin-top: 0px;
  }
}
/*============CALL TO ACTION============*/
/* Call to action: bendrybės ir h2 tekstas */
.container_cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.cta h2 {
  letter-spacing: var(--text-h2-letter-spacing);
  font-size: var(--text-h2-size);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weigth-normal);
  line-height: var(--text-h2-line);
  color: var(--sec-san-juan-blue);
  text-align: left;
  margin: 0px;
}

/* Call to action: mygtukas*/
.cta-form {
  display: flex;
  justify-content: space-between;
  border-radius: var(--btn-radius);
  overflow: hidden;
  border: none;
  width: 445px;
  background-color: var(--prime-link-water-white);
  box-shadow: 10px 10px 25px #36536b40;
}
.container_cta-wrapper {
  margin-bottom: 18px;
}
.cta-input {
  padding: 16px 0px 15px 27px;
  border-radius: 24px 0 0 24px;
  flex: 1;
  border: none;
  text-align: left;
  font-size: var(--text-body-size);
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: 0px;
  color: var(--sec-san-juan-blue);
  outline: none;
}

.cta-input::placeholder {
  opacity: var(--prime-opacity-disabled);
  color: var(--sec-san-juan-blue);
}

/* Call to action: "schedule a demo" mygtukas */
.btn-prime {
  padding: 16px 25px 15px 26px;
  border-radius: var(--btn-radius);
  background-color: var(--prime-dark-pink);
  color: var(--prime-link-water-white);
  font-size: var(--text-body-size);
  font-family: var(--btn-font-family);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
  border: none;
  min-width: 173px;
}
.btn-prime:hover {
  background-color: var(--sec-charm-pink-actives);
}
.alert,
.alert-demo {
  font-size: 11px;
  font-family: var(--font-family-body);
  line-height: var(--text-body-line-small);
  font-weight: var(--font-weight-thin);
  color: var(--error-alert-red);
  opacity: 0.5;
  letter-spacing: -0.08px;
}
.alert{
  margin-left: 20px;}
.alert-demo{
  margin-left: 27px;}

/*==========CALL TO ACTION FOR TABLET=========*/
@media (min-width: 768px) and (max-width: 1439px) {
  .container_cta {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .container_cta h2 {
    align-self: center;
    margin-bottom: 29px;
  }
}

/*==========CALL TO ACTION FOR MOBILE=========*/
@media (max-width: 767.98px) {
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container_cta {
    flex-direction: column;
    width: 327px;
    margin: 0 0 80px 0;
  }
  .container_cta h2 {
    margin-bottom: 22px;
    margin-top: 0px;
    text-align: center;
    font-size: var(--text-h3-lg-size);
    line-height: var(--text-h3-lg-line);
    letter-spacing: var(--text-h3-lg-letter-spacing);
  }
  .cta-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    box-shadow: none;
    overflow: visible;
    width: 327px;
  }
  .cta-input {
    padding: 16px 0 15px 27px;
    border-radius: var(--btn-radius);
    background-color: var(--prime-link-water-white);
    box-shadow: 10px 10px 25px #36536b40;
  }
  .container_cta-wrapper {
    margin-bottom: 0px;
  }

  /* Call to action: "schedule a demo" button */
  .btn-prime {
    padding: 16px 46px 15px 50px;
    width: 327px;
    margin-top: 16px;
  }
}
/* =============FOOTER=============== */

.container_footer {
  height: 100px;
  text-align: center;
  padding-inline: 165px;
}
footer {
  margin-inline: -165px;
  background-color: var(--sec-mirage-blue);
  position: relative;
  overflow: hidden;
}
.textColorSanJuanBlue a {
  color: var(--sec-san-juan-blue);
}
.textColorLinkWaterWhite a {
  color: var(--prime-link-water-white);
}
footer > img {
  position: absolute;
  bottom: -544px;
  right: -390px;
  width: 780px;
  height: 780px;
  z-index: 1;
  pointer-events: none;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.social a:not(:last-child) {
  margin-right: 24px;
}
.facebookLogo,
.twitterLogo,
.linkedinLogo,
.payapiLogo {
  display: block;
  background-color: var(--prime-link-water-white);
  mask-size: contain;
  mask-repeat: no-repeat;
}
.payapiLogo {
  mask: url(../assets/shared/desktop/logo.svg) no-repeat center;
  height: 38px;
  width: 135px;
}
.facebookLogo {
  mask: url(../assets/shared/desktop/facebook.svg) no-repeat center;
  height: 24px;
  width: 24px;
}
.twitterLogo {
  mask: url(../assets/shared/desktop/twitter.svg) no-repeat center;
  height: 24px;
  width: 24px;
}
.linkedinLogo {
  mask: url(../assets/shared/desktop/linkedin.svg) no-repeat center;
  height: 24px;
  width: 24px;
}
.social a:hover .facebookLogo,
.social a:hover .twitterLogo,
.social a:hover .linkedinLogo {
  background-color: var(--prime-bg-hover);
}

/* ============= FOOTER MEDIA =============== */
@media (min-width: 768px) and (max-width: 1439px) {
  footer {
    margin-inline: -97px;
  }
  .container_footer {
    padding-inline: 40px;
  }
}

@media (max-width: 767px) {
  footer {
    margin-inline: -24px;
  }
  .container_footer {
    height: auto;
    padding-inline: 24px;
  }
  .social {
    margin-bottom: 55px;
    margin-top: 40px;
  }
  footer > img {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 604px);
  }
}

/* =============FOCUS=============== */

.focus:focus-visible {
  border: 2px solid var(--background-dark);
  outline: unset;
}

.focus_white:focus-visible {
  border: 2px solid var(--background-dark);
  outline: 2px solid white;
  outline-offset: 2px;
}